<div class='titlePlanets' *ngIf="!click">
  <div class='title-level'>
      <p>CHOOSE YOUR</p>
      <p>WORLD</p>
  </div>
</div>

<div  class="container-fluid">
  <div class="row">
    <div class="container-levels">

        <ul *ngIf="!click">
          <li *ngFor="let level of levels">
              <div class="level" (click)="goPlanetPage(level)" > 
                <app-level [isLocked]="level.isLocked" 
                           [planetName]="level.planetName">
                </app-level>
              </div>
          </li>
        </ul>

        <div *ngIf="click" class="bigPlanet" (click)="startLevel()">
          <app-planet [planetName]="planetName"></app-planet>
          <div *ngIf="click" class='container-back' (click)="seeAllPlanets()">
              <div class="route"><BACK</div>
            </div>
            
        </div>
    </div>
  </div>
</div>

<!-- de refactorizat 2 butoaten de back -->
<!-- <div *ngIf="click" class='container-back' (click)="seeAllPlanets()">
  <div class="route"><BACK</div>
</div> -->

<app-back *ngIf="!click" class="back-path"
          [path]="path">
</app-back>