HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagApi.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/.suo
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/Server/sqlite3/storage.ide
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/Server/sqlite3/storage.ide-shm
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/Server/sqlite3/storage.ide-wal
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagApi.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagBusinessLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagDataLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.AssemblyInfoInputs.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/.suo
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/Server/sqlite3/storage.ide
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/Server/sqlite3/storage.ide-shm
HTTP-Adventure-Game/Hag.Api/HagSolution/.vs/HagSolution/v15/Server/sqlite3/storage.ide-wal
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagApi.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagApi.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagApi.deps.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagApi.runtimeconfig.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagApi.runtimeconfig.dev.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagBusinessLayer.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagBusinessLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagDataLayer.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/bin/Debug/netcoreapp2.0/HagDataLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/HagApi.csproj.nuget.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/HagApi.csproj.nuget.g.props
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/HagApi.csproj.nuget.g.targets
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/project.assets.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.AssemblyInfo.cs
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.AssemblyInfoInputs.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.csproj.CopyComplete
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.csproj.CoreCompileInputs.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.csproj.FileListAbsolute.txt
HTTP-Adventure-Game/Hag.Api/HagSolution/HagApi/obj/Debug/netcoreapp2.0/HagApi.csprojResolveAssemblyReference.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/bin/Debug/netcoreapp2.0/HagBusinessLayer.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/bin/Debug/netcoreapp2.0/HagBusinessLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/bin/Debug/netcoreapp2.0/HagBusinessLayer.deps.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/bin/Debug/netcoreapp2.0/HagDataLayer.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/bin/Debug/netcoreapp2.0/HagDataLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/HagBusinessLayer.csproj.nuget.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/HagBusinessLayer.csproj.nuget.g.props
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/HagBusinessLayer.csproj.nuget.g.targets
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/project.assets.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.AssemblyInfo.cs
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.csproj.CopyComplete
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.csproj.CoreCompileInputs.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.csproj.FileListAbsolute.txt
HTTP-Adventure-Game/Hag.Api/HagSolution/HagBusinessLayer/obj/Debug/netcoreapp2.0/HagBusinessLayer.csprojResolveAssemblyReference.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/bin/Debug/netcoreapp2.0/HagDataLayer.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/bin/Debug/netcoreapp2.0/HagDataLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/bin/Debug/netcoreapp2.0/HagDataLayer.deps.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/HagDataLayer.csproj.nuget.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/HagDataLayer.csproj.nuget.g.props
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/HagDataLayer.csproj.nuget.g.targets
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/project.assets.json
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/Debug/netcoreapp2.0/HagDataLayer.dll
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/Debug/netcoreapp2.0/HagDataLayer.pdb
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/Debug/netcoreapp2.0/HagDataLayer.AssemblyInfo.cs
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/Debug/netcoreapp2.0/HagDataLayer.AssemblyInfoInputs.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/Debug/netcoreapp2.0/HagDataLayer.csproj.CoreCompileInputs.cache
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/Debug/netcoreapp2.0/HagDataLayer.csproj.FileListAbsolute.txt
HTTP-Adventure-Game/Hag.Api/HagSolution/HagDataLayer/obj/Debug/netcoreapp2.0/HagDataLayer.csprojResolveAssemblyReference.cache
