@import '../../../shared/variables.scss';

.container-levels{
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 10%;
    background-color: grey;
    opacity: 0.5;
    display: flex;
    margin: auto;  
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

.back-path{
    left: 0px;
    right: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

