@import '../../../shared/variables.scss';

.container-start-game{
    width: 1100px;
    height: 600px;
    position: absolute;
    top: 10%;
    background:rgba(128, 128, 128, 0.5); 
    display: flex;
    margin: auto;  
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding: 0 50px 0 50px;

    .container-question{
        justify-content: center;
        width: 2000px;
        font-family: $font-family;
        font-size: 50px;
        color: white;
        display: flex;
        align-items: center; 
        margin-bottom: 340px;   
        z-index: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-button-answer{
        bottom: 0;
        position: absolute;
        justify-content: center;
        z-index: 2; 
        
        .button-answer2, .button-answer4{
            float: right;
            margin-bottom: 165px;
            margin-left: 552px;
        }

        .button-answer1, .button-answer3{
            float: left;
            margin-bottom: 165px;  
            margin-left: 0px;          
        }
    }

    .verify-answer-container{
        width: 890px;
        height: 330px;
        margin: 122px 100px;
        position: absolute;
        z-index: 200; 
        display: flex;
        align-items: center;
        justify-content: center;

        .check-answer{
            font-size: 140px;
            opacity: 1;     
        }

        .correct{
            color: rgb(72, 95, 72);
        }

        .incorrect{
            color: rgb(184, 42, 42);
        }

        .next-button{
            color: rgb(100, 100, 100);
            font-size: 50px; 
            display: inline-block;
            margin-left: 30px; 

            .next-level{
                font-size: 20px;
            }
        }
    }

    .opac-verify-answer{
        width: 945px;
        height: 347px;
        margin: 128px 77px;
        position: absolute;
        background-color: rgb(224, 224, 224);
        z-index: 100; 
        opacity: 0.9;   
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .opac-all-verify-answer{
        width: 1100px;
        height: 600px;
        padding: 0 50px 0 50px;
        margin-left: -50px;
        position: absolute;
        background-color: black;
        z-index: 90; 
        opacity: 0.5;   
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.back-path{
    left: 0px;
    right: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .container-start-game{
        top: 70%;
    }
}