@import '../../variables.scss';

.container-level{
    position: absolute;
    width: 120px;
    height: 100px;
    background-color: rgb(250, 69, 33);
}

.level-number{
    font-family: $font-family;
    display: flex;
    justify-content: center;
    font-size: 70px;
    align-items: center;
    padding-top: 10px;
}

.locker{
    display: flex;
    justify-content: center;
    font-size: 70px;
    align-items: center;
    padding-top: 15px;
}