@import '../../../shared/variables.scss';

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: absolute;
	padding: 17px 40px;
    margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: $font-family;
	font-size: 25px;
	color: rgb(73, 73, 73);
    text-decoration: none;	
	background-color:  #F2CF66;
	border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
	opacity: 1;
	width: 465px;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

a.button {
	text-decoration: none;
}
